<div class="container">
	<div class="content">
		<nav class="header">
			<div class="row pageDes">
				<h3>Python Assignment</h3>
				<p>Angular 6 and Django Rest Framework</p>
			</div>
		</nav>
		<div class="body container">
			<div class="row">
				<div class="form-group">
					<label >Artist Name:</label>
					<input type="text" name="new_Track_artistName" class="form-control" [(ngModel)]="new_Track.artistName"/>
				</div>
				<div class="error">
					<label *ngIf="fields['artistName'] && fields['artistName'].required">Artist Name is required.</label>
					<label *ngIf="fields['artistName'] && fields['artistName'].length && !fields['artistName'].required">Artist name must be at least 5 characters long.
					</label>
				</div>
				<div class="form-group">
					<label>Track Name:</label>
					<input type="text" name="new_Track_trackName" class="form-control" [(ngModel)]="new_Track.trackName"/>
				</div>
				<div class="error">
					<label *ngIf="fields['trackName'] && fields['trackName'].required">Track Name is required.</label>
					<label *ngIf="fields['trackName'] && fields['trackName'].length && !fields['trackName'].required">Track name must be at least 5 characters long.
					</label>
				</div>
				<div class="form-group">
					<label>Genre Name:</label>
					<input type="text" name="new_Track_genreName" class="form-control" [(ngModel)]="new_Track.genreName"/>
				</div>
				<div class="form-group">
					<label>Country:</label>
					<input type="text" name="new_Track_country" class="form-control" [(ngModel)]="new_Track.country"/>
				</div>
				<div class="form-group">
					<label>Release Date:</label>
					<input type="text" name="new_Track_releaseDate" class="form-control" placeholder="Select Release Date" 
					[(ngModel)]="new_Track.releaseDate" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" bsDatepicker readonly/>
				</div>
				<div class="error">
					<label *ngIf="fields['releaseDate'] && fields['releaseDate'].required">Release date is required.</label>
				</div>
				<div class="form-group">
					<button (click)="createTrack()" class="btn btn-primary form-control" *ngIf="isNew">Save</button>&nbsp;
					<button (click)="updateTrack()" class="btn btn-primary form-control" *ngIf="!isNew">Update</button>&nbsp;
					<button (click)="clearTrack()" class="btn btn-primary">Clear</button>
				</div>
			</div>
			<div class="row" *ngIf="Tracks && Tracks.length > 0">
				<div class="col-md-4 form-group">
					<label>Select Artist Id:</label>
					<select name="filter_artist_id" class="form-control" [(ngModel)]="filter.filter_artist_id">
						<option *ngFor="let id of idList" [value]="id">{{id}}</option>
					</select>
					<div class="error">
						<label *ngIf="fields['filter_artist_id'] && fields['filter_artist_id'].required">Artist Id is required.</label>
					</div>
				</div>
				<div class="col-md-4 form-group">
					<label>Select Date:</label>
					<input type="text" name="filter_releaseDate" class="form-control" placeholder="Select Date" 
					[(ngModel)]="filter.filter_releaseDate" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" bsDatepicker readonly/>
					<div class="error">
						<label *ngIf="fields['filter_releaseDate'] && fields['filter_releaseDate'].required">Release date is required.</label>
					</div>
				</div>
				<div class="col-md-4 form-group">
					<label></label>
					<button (click)="filterTrack()" class="btn btn-primary filterButton">Filter Records</button>&nbsp;
					<button (click)="clearFilter()" class="btn btn-primary filterButton">Clear Filter</button>
				</div>
			</div>
			<div class="container">
				<div class="row" *ngIf="Tracks && Tracks.length > 0">
					<table class="table">
						<thead>
							<tr>
								<th>Artist Id</th>
								<th>Artist Name</th>
								<th>Track Name</th>
								<th>Genre Name</th>
								<th>Country</th>
								<th>Release Date</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let track of Tracks">
								<td>{{track["artist"].artistId}}</td>
								<td>{{track["artist"].artistName}}</td>
								<td>{{track.trackName}}</td>
								<td>{{track.genreName}}</td>
								<td>{{track.country}}</td>
								<td>{{track.releaseDate}}</td>
								<td>
									<button (click)="editTrack(track)" class="btn btn-primary">Edit</button>&nbsp;
									<button (click)="deleteTrack(track)" class="btn btn-primary">Delete</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="footer">
			<p>Python Assignment</p>
		</div>
	</div>
</div>